* {
  padding: 0;
  margin: 0;
}

body {
  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  header {
    height: 50px;
    margin-bottom: 50px;
    background-color: #111111;
    border-bottom: 3px solid rgba(255,255,255, 0.2);
    text-align: center;
    input {
      width: 50%;
      height: 20px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      background-color: #aaaaaa;
      margin-top: 15px;
      border: 1px solid #cccccc;
      padding-left: 8px;
    }

  }

  #movielist-container{
    padding: 20px;
  }

}