* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #222222;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
  header {
    position: relative;
    height: 70px;
    margin-bottom: 20px;
    background-color: #111111;
    border-bottom: 3px solid rgba(255,255,255, 0.2);
    text-align: center;
    logo-element[name="home"]{
      position: absolute;
      width: 30px;
      left: 30px;
      top:23px;

    }
    input {
      width: 50%;
      height: 30px;
      border-radius: 10px;
      font-size: 15px;
      font-weight: bold;
      background-color: white;
      margin-top: 20px;
      border: 1px solid #cccccc;
      padding-left: 8px;
    }

  }

  #footer-container {
    position: fixed;
    bottom: 0;
    height: 40px;
    background: rgba(0,0,0, 0.6);
    width: 100%;
    border-top : 3px solid rgba(255,255,255, 0.2);
  }
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    text-shadow: 2px 2px rgba(255,255,255, 0.2),
    3px 3px rgba(255,255,255, 0.2),
    4px 4px rgba(255,255,255, 0.2);
    a{
      color: white;
      text-decoration: none;
    }
  }
  #movielist-container{
    padding: 20px;
  }

  #movielist-container{
    width: 354px;
    margin: auto;
  }

  @media (min-width: 764px) {
    #movielist-container{
      width: 724px;
    }
  }
  @media (min-width: 1146px) {
    #movielist-container{
      width: 1086px;
    }
  }

  @media (min-width: 1528px) {
    #movielist-container{
      width: 1448px;
    }
  }

}